body {
  background: #D5DEEC ; 				/* Couleur de Fond de page*/
  font: 14px serif;                    /* Style et taille de la police de la page */
  margin: 1em;                         /* Marge du document HTML */
}
p, li {
  text-align: justify;                 /* Justifier le texte des paragraphes et des lignes de listes */
}
p:first-letter {                       /* Pour la première lettre de chaque paragraphes : */
  font-size: x-large;                  /* Utiliser une police large */
  font-weight: bold;                   /* Et grasse                 */
  color: #0000AA;                      /* De couleur bleu foncée    */
}


h1 { /** gros titre */
  font-family: serif;         /* On se permet un changement de police : pas plus de deux par page, et à utiliser avec parcimonie (c'est le cas) */
  background: #0066CC none;   /* Fond du titre  (et sans image de fond) */
  color: white;               /*  Donc on utilise une police blanche pour que le texte soit visible */
  border: 3px dotted #9999FF; /* On encadre le titre d'un bleu clair de 3 pixels de largeur */
  padding: 0.3em;             /* Espacement intérieur non nul pour que le texte ne colle pas à la bordure du cadre */
  text-align: center;         /* Le titre doit être centré ! */
  letter-spacing: 0.3em;      /* On espace les caractères pour que ce soit joli :-) */
}

a                 { color: #0066CC; } /* Liens en bleu (entre clair et foncé) */
a:visited         { color: black;   } /* et en noir (comme le texte normal, mais souligné) si déjà visités */
a:hover, a:active { color: white;                /* Lors du passage de la souris ou activation, */
                    background-color: #0066CC; } /* couleur blanc sur fond bleu                 */