html{
	background: black;
	color: rgb(103, 217, 0);
	text-align: center;
}

#title{
	margin-top: 5%;
	margin-bottom: 5%;
	text-decoration: underline;
	font-size: 3em;
}

#bar{
	text-align: center;
}

.navbarButtons{
	margin-left: 4%;
}

#content{
	margin: 5%;
	background-color: white;
}

.lTitle {
	text-align: left;
	text-decoration: underline;
	margin-bottom: 1%;
	color: grey;
}